<#if (surveys??)>
    <h1>All Surveys</h1>
    <#if (surveys?size > 0)>
        <table width="100%" class="row">
            <#list surveys as survey>
                <tr class="border">
                    <td>
                        <h3>${survey.getTitle()}
                            <#if (survey.isReserved())>
                                <img src="images/lock.svg" alt="reserved" title="Reserved" class=""/>
                            </#if>
                        </h3>
                        <input type="text" value="localhost:8080/pollweb/survey?n=${survey.getId()}" disabled="true" class="select">
                    </td>
                    <td>
                        <#if (survey.isReserved())>
                            <img src="images/add-users.svg" alt="user" title="Add User" class="imgButton" onclick="location.href='my_surveys?u=${survey.getId()}'"/>
                        </#if>
                    </td>
                    <td>
                        <div title="Answers" class="imgButton export" onclick="location.href='my_surveys?r=${survey.getId()}'">
                            <img src="images/exam.svg" alt="export" class="export-img"/>
                        </div>
                    </td>                  
                    <td>
                        <#if survey.isActive()>
                            <img src="images/eye.svg" alt="eye" title="Disable" class="imgButton eye green" onclick="location.href='my_surveys?t=${survey.getId()}'"/> 
                        <#else>
                            <img src="images/eye-closed.svg" alt="eye-close" title="Enable" class="imgButton eye red" onclick="location.href='my_surveys?t=${survey.getId()}'"/> 
                        </#if>
                    </td>
                    <td>                           
                        <img src="images/pencil.svg" alt="Edit" title="Edit" class="imgButton"  onclick="location.href='my_surveys?m=${survey.getId()}'" />                         
                    </td>
                </tr>
            </#list>
        </table>
    </#if>
    <div class="plus">
        <img src="images/plus.svg" alt="add" class="imgButton add" title="Add Survey" onclick="location.href='survey_creation'" />
    </div>
</#if>