<div class="titleAlign">
    <h1>${survey.getTitle()}</h1>
    <h2>${survey.getOpeningText()}</h2>
</div>
</br>
<#if (survey.getQuestions()?size > 0)>
    <form action="survey" method="post">
        <#if p??>
            <h2>${p.getName()}</h2>
        </#if>
        <input type="hidden" name="n" value="${survey.id}">
        <#list survey.getQuestions() as question>
            <h3>${question.getText()}
                <#if question.isMandatory()>
                    *
                </#if>
            </h3>
            <#if (send??)>

                <#if question.getQuestionType() == "choice">
                    <#if answer[question?index]??>
                        <#list answer[question?index].getOptions() as option>
                            <h4 class="answer">${option.getText()}</h4>
                        </#list>
                    </#if>
                <#else>
                    <#if answer[question?index]??>
                        <#assign item = answer[question?index].getAnswer()>
                        <h4 class="answer">${item}</h4>
                    </#if>
                </#if>

            <#else>

                <#if question.getNote()??>
                    <h4>${question.getNote()}</h4>
                </#if>
                <#if error?? && error[question?index]??>
                    <h3 class="error">${error[question?index]}</h3>
                </#if>
                <#if question.getQuestionType() == "choice">
                    <#if too_much?? && question?index == error_Number>
                        <h3 class="error">${too_much}</h3>
                    </#if>
                    <#if answer?? && answer[question?index]??>               
                        <#list question.getOptions() as choice>
                            <#if answer[question?index].contains(choice)>
                                <#if question.getMaxNumberOfChoices()==1>
                                    <input type="radio" name=${question.getCode()} value=${choice.getPosition()} class="small" checked> ${choice.getText()} </br>
                                <#else>
                                    <input type="checkbox" name=${question.getCode()} value=${choice.getPosition()} class="small" checked> ${choice.getText()} </br>
                                </#if>
                            <#else>
                                <#if question.getMaxNumberOfChoices()==1>
                                    <input type="radio" name=${question.getCode()} value=${choice.getPosition()} class="small"> ${choice.getText()} </br>
                                <#else>
                                    <input type="checkbox" name=${question.getCode()} value=${choice.getPosition()} class="small"> ${choice.getText()} </br>
                                </#if>
                            </#if>
                        </#list>
                    <#else>
                        <#list question.getOptions() as choice>
                            <#if question.getMaxNumberOfChoices()==1>
                                <input type="radio" name=${question.getCode()} value=${choice.getPosition()} class="small"> ${choice.getText()} </br>
                            <#else>
                                <input type="checkbox" name=${question.getCode()} value=${choice.getPosition()} class="small"> ${choice.getText()} </br>
                            </#if>
                        </#list>
                    </#if>

                </#if>
                <#if question.getQuestionType() == "number">
                    <#if answer?? && answer[question?index]??>
                        <input type="number" name=${question.getCode()} class="medium" max=#{question.getMaxValue()} min=#{question.getMinValue()} value="#{answer[question?index].getAnswer()}">
                    <#else>
                        <input type="number" name=${question.getCode()} class="medium" max=#{question.getMaxValue()} min=#{question.getMinValue()}>
                    </#if>
                </#if>
                <#if question.getQuestionType() == "short text">
                    <#if answer?? && answer[question?index]??>                        
                        <input type="text" name=${question.getCode()} class="medium" maxlength=#{question.getMaxLength()} minlength=#{question.getMinLength()} value="${answer[question?index].getAnswer()}">                       
                    <#else>                        
                        <input type="text" name=${question.getCode()} class="medium" maxlength=#{question.getMaxLength()} minlength=#{question.getMinLength()}>                   
                    </#if>
                </#if>
                <#if question.getQuestionType() == "long text">
                    <#if answer?? && answer[question?index]??>                      
                        <textarea name=${question.getCode()} maxlength=#{question.getMaxLength()} minlength=#{question.getMinLength()}>${answer[question?index].getAnswer()}</textarea>                      
                    <#else>   
                        <textarea name=${question.getCode()} maxlength=#{question.getMaxLength()} minlength=#{question.getMinLength()}></textarea>                        
                    </#if>
                </#if>
                <#if question.getQuestionType() == "date">
                    <#if answer?? && answer[question?index]??>
                        <h4>mm/dd/yyyy</h4>
                        <select name="${question.getCode()}" class="small" >
                            <option value=""></option>
                            <#if question.getMinDate().getYear()==question.getMaxDate().getYear()>
                                <#list question.getMinDate().getMonthValue()..question.getMaxDate().getMonthValue() as month>
                                <option value="#{month}"
                                        <#if (month==answer[question?index].getAnswer().getMonthValue())>
                                        selected="selected"
                                        </#if>
                                        >#{month}</option>
                                </#list>
                            <#else>                        
                                <#list 1..12 as month>
                                <option value="#{month}"
                                        <#if (month==answer[question?index].getAnswer().getMonthValue())>
                                        selected="selected"
                                        </#if>
                                        >#{month}</option>
                                </#list>                         
                            </#if>
                        </select>/
                        <select name="${question.getCode()}" class="small" >
                            <option value=""></option>
                            <#if question.getMinDate().getYear()==question.getMaxDate().getYear() &&
                            question.getMinDate().getMonthValue()==question.getMaxDate().getMonthValue()>
                                <#list question.getMinDate().getDayOfMonth()..question.getMaxDate().getDayOfMonth() as day>
                                <option value="#{day}" 
                                        <#if (day==answer[question?index].getAnswer().getDayOfMonth())>
                                        selected="selected"
                                        </#if>
                                        >#{day}</option>
                                </#list>
                            <#else>    
                                <#list 1..31 as day>
                                <option value="#{day}"
                                        <#if (day==answer[question?index].getAnswer().getDayOfMonth())>
                                        selected="selected"
                                        </#if>
                                        >#{day}</option>
                                </#list>
                            </#if>
                        </select>/
                        <select name="${question.getCode()}" class="small" >
                            <option value=""></option>
                            <#list question.getMinDate().getYear()..question.getMaxDate().getYear() as year>
                            <option value="#{year}"
                                    <#if (year==answer[question?index].getAnswer().getYear())>
                                    selected="selected"
                                    </#if>
                                    >#{year}</option>
                            </#list>  
                        </select>
                    <#else>
                        <h4>mm/dd/yyyy</h4>
                        <select name="${question.getCode()}" class="small" >
                            <option value=""></option>
                            <#if question.getMinDate().getYear()==question.getMaxDate().getYear()>
                                <#list question.getMinDate().getMonthValue()..question.getMaxDate().getMonthValue() as month>
                                <option value="#{month}">#{month}</option>
                                </#list>
                            <#else>                        
                                <#list 1..12 as month>
                                <option value="#{month}">#{month}</option>
                                </#list>                         
                            </#if>
                        </select>/
                        <select name="${question.getCode()}" class="small" >
                            <option value=""></option>
                            <#if question.getMinDate().getYear()==question.getMaxDate().getYear() &&
                            question.getMinDate().getMonthValue()==question.getMaxDate().getMonthValue()>
                                <#list question.getMinDate().getDayOfMonth()..question.getMaxDate().getDayOfMonth() as day>
                                <option value="#{day}">#{day}</option>
                                </#list>
                            <#else>
                                <#list 1..31 as day>
                                <option value="#{day}">#{day}</option>
                                </#list>
                            </#if>
                        </select>/                        
                        <select name="${question.getCode()}" class="small" >
                            <option value=""></option>
                            <#list question.getMinDate().getYear()..question.getMaxDate().getYear() as year>
                            <option value="#{year}">#{year}</option>
                            </#list>  
                        </select>
                    </#if>
                </#if>

            </#if>
        </#list>
        </br>

        <h3>${survey.getClosingText()}</h3>

        <#if (!send??)>
            <input type="submit" name="send" value="Send" class="medium"/>
        </#if>
    </form>
</#if>
</br>

